have gamme tare tu code ma ferfarkar tyare aa command nakhvani terminal ma project na terminal ma :
git add .
git commit -m "message"
git push

aa sequance ma te ho
etle je ferfar kara hoy e github ma reflect thy jay
👍👍👍 ok ?
ok bhai
thank you so much toy tu git and github no ek video joy leje shreyans coding sc. 
vala no 20 25 min no mst samjay jahe pasi to vaprva 
ni maja aavse
ok bhai good hal oksaru chal 15 ae malya clg ae ha te 